body {
    background-image: url('hero_2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: auto;
    padding: 20px 10px;
    border-style: outset; 
    border-color:  #d8d7d7;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-width: thin;
    margin: 0px 120px 0px 120px;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header button {
    float: left;
    color: black;
    background: none;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-color: none;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.content h1
{
    margin-top: 190px;
    margin-left: 590px;
    font-size: 33;
    color: #eee;
}
.content .n1
{
    margin-left: 440px;
    font-size: 16px;
    color: #eee;
}
.content .n2
{
    margin-left: 630px;
    font-size: 16px;
    color: #eee;
}
.content .get_in_touch
{
    border: none;
    outline: none;
    height: 40px;
    width: 125px;
    background: blue;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    margin-left: 610px;
    margin-top: 20px;
    margin-bottom: 189px;
}
#demo
{
    background-color: white;
    width: 100%;
    height: 100%;
}