 body{
                height: 100%;
                margin: 0;
                padding: 300px;
                background: url(parallax-bg.jpg);
                background-size: cover;
                background-position: center;
                font-family: sans-serif;
            }
            .login{
                width: 400px;
                height: 460px;
                background: #fff;
                color: black;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%,-50%);
                box-sizing: border-box;
                padding: 70px 30px;
                border-radius: 50px;
            }
            .a{             /* image */
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                top: -50px;
                left: calc(50% - 50px);
            }
            h1{
                margin: 0;
                padding: 0 0 30px;
                text-align: center;
                font-size: 30px;
            }
            .login input{
                width: 100%;
                margin-bottom: 30px;
            }
            .login input[type="text"] , input[type="password"]{
                border-bottom: 2px solid #7a74;
                background: #fff ;
                outline: none;
                heigth: 50px;
                font-size: 20px;
            }
            .login input[type="button"]{
                border: none;
                outline: none;
                height: 40px;
                background: blue;
                color: #fff;
                font-size: 18px;
            }
            label{ display: inline-block; }
            .divide{
                
            }